/* Estilos para la página */
ion-content {
  --ion-background-color: #383636;
}

.termometro-container {
  position: relative;
  width: 60px; /* Ancho del termómetro */
  height: 300px; /* Altura del termómetro */
  background-color: #6a6969;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto; /* Centra horizontalmente */
}

.termometro-progress {
  background-color: #d61f22;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Ancho de la barra de progreso */
  transition: height 0.5s ease-in-out;
  border-bottom-left-radius: 10px; /* Ajusta las esquinas de la barra */
  border-bottom-right-radius: 10px;
}

.termometro-bola {
  background-color: #6a6969;
  // border: 2px solid #595757;
  border-radius: 50%;
  position: absolute;
  width: 40px; /* Diámetro de la bola */
  height: 40px;
  left: 50%;
  bottom: calc(100% - 20px); /* Posición inicial de la bola */
  transform: translateX(-50%);
  transition: bottom 0.5s ease-in-out;
}

/* Estilos para el ion-range */
.range-slider {
  width: 300px; /* Ancho del ion-range */
  margin: 20px auto; /* Centra horizontalmente */
}

/* Estilos para los emoticones */
.emoticon {
  font-size: 36px;
  text-align: center;
  margin-top: -36px;
}

/* Cambio de color del pin del ion-range */
.range-pin {
  background-color: #d61f22 !important;
}

/* Eliminar bordes en los ion-items */
ion-item {
  --inner-border-radius: 0;
}
